{% extends 'base.html.twig' %}

{% block title %}Hopital | Utilisateurs{% endblock %}

{% block base_content %}

      
  <div class="card h-100" id="table" data-list='{"valueNames":["name","roles"],"page":10,"pagination":true,"fallback":"pages-table-fallback"}'>
    <div class="card-header">
      <div class="row flex-between-center">
        <div class="col-auto col-sm-6 col-lg-7">
          <h6 class="mb-0 text-nowrap py-2 py-xl-0 fs-2 text-primary">Utilisateurs 
            <span class="fas fa-plus fs--1 text-600 " type="button" data-bs-toggle="modal" data-bs-target="#addUserModal"></span></h6>
        </div>
        <div class="col-auto col-sm-6 col-lg-5">
          <div class="h-100">
            <form>
              <div class="input-group"><input class="form-control form-control-sm shadow-none search" type="search" placeholder="Search for a page" aria-label="search" />
                <div class="input-group-text bg-transparent">
                  <span class="fa fa-search fs--1 text-600"></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body px-0 py-0">
      <div class="table-responsive scrollbar">
        
      <table class="table table-bordered table-striped fs--1 mb-0">
        <thead class="bg-200 text-900">
          <tr>
            <th class="sort" data-sort="name">Nom</th>
            <th class="sort" data-sort="roles">Roles</th>
            <th class="action" data-sort="age">Actions</th>
          </tr>
        </thead>
        <tbody class="list">

         {% for user in users %}
          <tr>
            <td class="name">{{ user.username }}</td>
            
            <td class="roles">
              {% for userRole in user.tUserRoles|filter(v => v.state is same as(true) and v.fkRole.state is same as(true)) %}
                
                <span class="badge badge-soft-warning">{{ userRole.fkRole.libelle }}</span>

              {% endfor %}
              
              </td>   
            <td class="align-middle white-space-nowrap text-end position-relative">
              <div class="dropdown font-sans-serif btn-reveal-trigger">
                <button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal-sm transition-none" type="button" id="crm-recent-leads-0" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
                  <span class="fas fa-ellipsis-h fs--2"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="crm-recent-leads-0">
                  <a class="dropdown-item" href="#!">View</a>
                  <a class="dropdown-item" href="#!">Export</a>
                  <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                </div>
              </div>

            </td>
          </tr>

         {% endfor %}
          
        </tbody>
      </table>

      </div>
      <div class="text-center d-none" id="pages-table-fallback">
        <p class="fw-bold fs-1 mt-3">Aucun utilisateur correspond à votre recherche</p>
      </div>
    </div>
    <div class="card-footer">
      <div class="row align-items-center">
        <div class="pagination d-none"></div>
        <div class="col">
          <p class="mb-0 fs--1"><span class="d-none d-sm-inline-block me-2" data-list-info="data-list-info"></span></p>
        </div>
        <div class="col-auto d-flex"><button class="btn btn-sm btn-primary" type="button" data-list-pagination="prev"><span>Previous</span></button><button class="btn btn-sm btn-primary px-4 ms-2" type="button" data-list-pagination="next"><span>Next</span></button></div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="addUserModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content border">
        <form id="addEventForm" autocomplete="off">
          <div class="modal-header px-card bg-light border-bottom-0">
            <h5 class="modal-title">Creer un utilisateur</h5><button class="btn-close me-n1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-card">
            <div class="mb-3"><label class="fs-0" for="eventTitle">Title</label><input class="form-control" id="eventTitle" type="text" name="title" required="required" /></div>
            <div class="mb-3"><label class="fs-0" for="eventStartDate">Start Date</label><input class="form-control datetimepicker" id="eventStartDate" type="text" required="required" name="startDate" placeholder="yyyy/mm/dd hh:mm" data-options='{"static":"true","enableTime":"true","dateFormat":"Y-m-d H:i"}' /></div>
            <div class="mb-3"><label class="fs-0" for="eventEndDate">End Date</label><input class="form-control datetimepicker" id="eventEndDate" type="text" name="endDate" placeholder="yyyy/mm/dd hh:mm" data-options='{"static":"true","enableTime":"true","dateFormat":"Y-m-d H:i"}' /></div>
            <div class="form-check"><input class="form-check-input" type="checkbox" id="eventAllDay" name="allDay" /><label class="form-check-label" for="eventAllDay">All Day</label></div>
            <div class="mb-3"> <label class="fs-0">Schedule Meeting</label>
              <div><a class="btn badge-soft-success btn-sm" href="#!"><span class="fas fa-video me-2"></span>Add video conference link</a></div>
            </div>
            <div class="mb-3"><label class="fs-0" for="eventDescription">Description</label><textarea class="form-control" rows="3" name="description" id="eventDescription"></textarea></div>
            <div class="mb-3"><label class="fs-0" for="eventLabel">Label</label><select class="form-select" id="eventLabel" name="label">
                <option value="" selected="selected">None</option>
                <option value="primary">Business</option>
                <option value="danger">Important</option>
                <option value="success">Personal</option>
                <option value="warning">Must Attend</option>
              </select></div>
          </div>
          <div class="card-footer d-flex justify-content-end align-items-center bg-light"><a class="me-3 text-600" href="events/create-an-event.html">More options</a><button class="btn btn-primary px-4" type="submit">Save</button></div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
{% block addjs %}

{% endblock %}